@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background: #ede8d0;
    font-family: Figtree, sans-serif;

    --rubiksred: #CC938B;
    --rubiksblue: #98ACB8;
    --rubiksgreen: #9AC190;
    --rubiksyellow: #D3C98E;
    --rubiksorange: #CDA884;
    --rubikswhite: #F6F3E0;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#vis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10;
    width: max-content;
    height: 100%;
}

.cell {
    background: #ede8d0;
    border-radius: 10px;
    
    width: 100%;
    padding: 2%;
    margin: 1%;

    border-style: outset;
    border-width: 0.25em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    border-color: var(--rubiksred);
}

#header > h1,h2  {
    text-align: center;
    padding: 1vh;
    margin: 0px;
    /* border: solid red; */
    color: #191922;
}

#tsne-plot {
    border-color: var(--rubiksblue);
}

#move-freq {
    border-color: var(--rubiksgreen);
}

#move-heatmap {
    border-color: var(--rubiksyellow);
}